<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cupcakes list</title>
  <link rel="stylesheet" href="/static/script.js">
</head>
<body>

  <h1>Cupcakes</h1>

  <ul id="cupcake-list"></ul>

  <form id="form" action="/api/cupcakes" method="POST">
    <label for="flavor"><input name="flavor" id="flavor" type="text">Flavor</label><br>
    <label for="size"><input name="size" id="size" type="text">Size</label><br>
    <label for="rating"><input name="rating" id="rating" type="text">Rating</label><br>
    <label for="image"><input name="image" id="image" type="text">Image</label><br>
    <button>Submit</button>
  </form>

  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://unpkg.com/jquery"></script>
  <script src="/static/script.js"></script>
</body>
</html>